<div class="header-section">
  <div class="mt-5" style="width: 82%;">
    <!-- abas -->
    <nav class="nav nav-pills nav-justified">
      <!-- Lançamento bancário -->
      <a class="nav-link active me-2" aria-current="page" id="lancamento-bancario-tab" data-bs-toggle="tab"
        data-bs-target="#lancamento-bancario" type="button" role="tab" aria-controls="lancamento-bancario"
        aria-selected="true">Lançamento bancário</a>
        <!-- Importar -->
      <a class="nav-link mx-2" id="importar-tab" data-bs-toggle="tab" data-bs-target="#importar"
        type="button" role="tab" aria-controls="importar" aria-selected="true">Importar</a>
        <!-- Aprovação -->
      <a class="nav-link mx-2" id="aprovacao-tab" data-bs-toggle="tab" data-bs-target="#aprovacao"
        type="button" role="tab" aria-controls="aprovacao" aria-selected="true">Aprovação</a>
        <!-- Pagamento -->
      <a class="nav-link mx-2" id="pagamento-tab" data-bs-toggle="tab" data-bs-target="#pagamento"
        type="button" role="tab" aria-controls="pagamento" aria-selected="true">Pagamento</a>
        <!-- CNAB - Contas a pagar -->
      <a class="nav-link mx-2" id="cnab-contas-a-pagar-tab" data-bs-toggle="tab" data-bs-target="#cnab-contas-a-pagar"
        type="button" role="tab" aria-controls="cnab-contas-a-pagar" aria-selected="true">CNAB - Contas a
        pagar</a>
    </nav>
  </div>
</div>
<div class="body-section my-4">
  <div class="tab-content" id="myTabContent">
    <!-- conteudo das abas -->
    <div class="tab-pane fade show active" id="lancamento-bancario" role="tabpanel"
      aria-labelledby="lancamento-bancario-tab">
      <app-lancamento-bancario></app-lancamento-bancario>
    </div>
    <div class="tab-pane fade" id="importar" role="tabpanel" aria-labelledby="importar-tab">
      <app-importar></app-importar>
    </div>
    <div class="tab-pane fade" id="aprovacao" role="tabpanel" aria-labelledby="aprovacao-tab">
      <app-aprovacao></app-aprovacao>
    </div>
    <div class="tab-pane fade" id="pagamento" role="tabpanel" aria-labelledby="pagamento-tab">
      <app-pagamento></app-pagamento>
    </div>
    <div class="tab-pane fade" id="cnab-contas-a-pagar" role="tabpanel" aria-labelledby="cnab-contas-a-pagar-tab">
      <app-cnab-contas-a-pagar></app-cnab-contas-a-pagar>
    </div>
  </div>
</div>
