<div class="d-block">
  <!-- header -->
  <app-header></app-header>
  <div class="body">
    <div class="bg">
      <div class="header ms-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" role="button" routerLink="/dashboard">Dashboard</li>
            <li class="breadcrumb-item" aria-current="page"><strong>Repositórios</strong></li>
          </ol>
        </nav>
      </div>
      <div class="title  bg ms-5 mt-3">
        <span class="h4 fw-bolder">Repositórios</span>
        <div class="subtitle d-flex">
          <p class="mt-2 text-muted" style="font-size: 13px">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled
            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including
            versions of Lorem Ipsum
          </p>
          <div class="mx-5"></div>
        </div>
      </div>
    </div>
    <div class="section border-bottom">
      <div class="title-section d-inline-flex bg col-md-12">
        <!-- abas -->
        <ul class="nav nav-tabs bg" id="myTab" role="tablist">
          <!-- Natureza -->
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="natureza-tab" data-bs-toggle="tab" data-bs-target="#natureza" type="button"
              role="tab" aria-controls="natureza" aria-selected="true"><span>Natureza</span></button>
          </li>
          <!-- Tipos -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tipos-tab" data-bs-toggle="tab" data-bs-target="#tipos" type="button"
              role="tab" aria-controls="tipos" aria-selected="false"><span>Tipos</span></button>
          </li>
          <!-- Repositórios -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="repositorios-tab" data-bs-toggle="tab" data-bs-target="#repositorios" type="button"
              role="tab" aria-controls="repositorios" aria-selected="false"><span>Repositórios</span></button>
          </li>
        </ul>
      </div>
      <div class="content-section mx-5">

        <!-- conteudo das abas -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="natureza" role="tabpanel"
            aria-labelledby="natureza-tab">
            <app-natureza></app-natureza>
          </div>
          <div class="tab-pane fade show" id="tipos" role="tabpanel"
            aria-labelledby="tipos-tab">
            <app-tipos></app-tipos>
          </div>
          <div class="tab-pane fade show" id="repositorios" role="tabpanel"
            aria-labelledby="repositorios-tab">
            <app-repositorios-repositorios></app-repositorios-repositorios>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
