.bg-side {
  background-color: #FFFFFF;
}

.ativado {
  border-radius: 0px !important;
  border-right: 3.5px solid #E21B23 !important;
  background-color: #F3F5F9;
  ;
  color: black !important;
  font-weight: 600;
}

.side-item {
  color: #8d8d8d;
}

.side-item:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 600;
}

.nav-pills .nav-link {
  padding: .75rem 1rem !important;
  font-weight: 500;

}
