<div class="d-flex flex-column border-end bg-side">
  <!-- logo -->
  <div class="col-md py-3 bg-side">
    <a href="/" class="d-flex justify-content-center">
      <img src="./assets/img/logo.png" alt="logo" style="width: 100px; height: 10 0px;">
    </a>
  </div>
  <ul class="nav nav-pills py-2 flex-column">
    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link side-item py-2" aria-current="page" routerLink="/dashboard" routerLinkActive="ativado">
        Dashboard
      </a>
    </li>
    <!-- Repositorios -->
    <li class="nav-item">
      <a href="#" class="nav-link side-item py-2" routerLink="/repositorios" routerLinkActive="ativado">
        Repositorios
      </a>
    </li>
    <!-- Comissao -->
    <li class="nav-item">
      <a href="#" class="nav-link side-item py-2" routerLink="/comissao" routerLinkActive="ativado">
        Comissao
      </a>
    </li>
    <!-- Financeiro -->
    <li class="nav-item">
      <a href="#" class="nav-link side-item py-2" routerLink="/financeiro" routerLinkActive="ativado">
        Financeiro
      </a>
    </li>
    <!-- Orçamentos GMP -->
    <li class="nav-item">
      <a href="#" class="nav-link side-item py-2" routerLink="/orcamentos-gmp" routerLinkActive="ativado">
        Orçamentos GMP
      </a>
    </li>
    <!-- Relatorios -->
    <li class="nav-item">
      <a href="#" class="nav-link side-item py-2" routerLink="/relatorios" routerLinkActive="ativado">
        Relatorios
      </a>
    </li>
  </ul>
  <hr>
  <div class="">
    <ul class="nav nav-pills p-3 flex-column">
      <!-- Configurações -->
      <li class="nav-item">
        <a class="nav-link side-item py-2" aria-current="page" routerLink="/configuracoes" routerLinkActive="ativado">
          <i class="bi bi-gear"></i>
          <span class="m-2">Configurações</span>
        </a>
      </li>
      <!-- Desconectar -->
      <li class="nav-item">
        <a class="nav-link side-item py-2" aria-current="page" (click)="logout()">
          <i class="bi bi-arrow-bar-left"></i>
          <span class="m-2">Desconectar</span>
        </a>
      </li>
    </ul>
  </div>
</div>
