<div class="header-section">
  <div class="mt-5" style="width: 43%;">
    <nav class="nav nav-pills nav-justified">
      <a class="nav-link active me-2" aria-current="page" id="cnab-contas-a-receber-tab" data-bs-toggle="tab"
        data-bs-target="#cnab-contas-a-receber" type="button" role="tab" aria-controls="cnab-contas-a-receber"
        aria-selected="true">CNAB - Contas a Receber</a>
      <a class="nav-link mx-2" id="extrato-bancario-tab" data-bs-toggle="tab" data-bs-target="#extrato-bancario"
        type="button" role="tab" aria-controls="extrato-bancario" aria-selected="true">Extrato Bancário</a>
    </nav>
  </div>
</div>
<div class="body-section my-4">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="cnab-contas-a-receber" role="tabpanel"
      aria-labelledby="cnab-contas-a-receber-tab">
      <app-cnab-contas-a-receber></app-cnab-contas-a-receber>
    </div>
    <div class="tab-pane fade" id="extrato-bancario" role="tabpanel" aria-labelledby="extrato-bancario-tab">
      <app-extrato-bancario></app-extrato-bancario>
    </div>
  </div>
</div>
