<div class="d-block">
  <!-- cabeçalho -->
  <app-header></app-header>
  <!-- conteudo da página -->
  <div class="body">
    <div class="bg">
      <!-- caminho da página -->
      <div class="header ms-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" role="button" routerLink="/dashboard">Dashboard</li>
            <li class="breadcrumb-item active">Cadastros</li>
            <li class="breadcrumb-item" aria-current="page"><strong>Financeiro</strong></li>
          </ol>
        </nav>
      </div>
      <!-- titulo e subtitulo -->
      <div class="title  bg ms-5 mt-3">
        <span class="h4 fw-bolder">Financeiro</span>
        <div class="subtitle d-flex">
          <p class="mt-2 text-muted" style="font-size: 13px">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled
            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including
            versions of Lorem Ipsum
          </p>
          <div class="mx-5"></div>
        </div>
      </div>
    </div>
    <div class="section border-bottom">
      <!-- Abas -->
      <ul class="nav nav-tabs bg" id="myTab" role="tablist">
        <!-- Centro de custos -->
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="centros-custos-tab" data-bs-toggle="tab" data-bs-target="#centros-custos" type="button"
            role="tab" aria-controls="centros-custos" aria-selected="true"><span>Centros de custos</span></button>
        </li>
        <!-- Locais de cobrança -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="locais-cobranca-tab" data-bs-toggle="tab" data-bs-target="#locais-cobranca" type="button"
            role="tab" aria-controls="locais-cobranca" aria-selected="false"><span>Locais de cobrança</span></button>
        </li>
        <!-- Unidade de negócios -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="unidades-negocios-tab" data-bs-toggle="tab" data-bs-target="#unidades-negocios" type="button"
            role="tab" aria-controls="unidades-negocios" aria-selected="false"><span>Unidade de negócios</span></button>
        </li>
        <!-- Grupos de plano de contas -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="grupos-plano-de-contas-tab" data-bs-toggle="tab" data-bs-target="#grupos-plano-de-contas" type="button"
            role="tab" aria-controls="grupos-plano-de-contas" aria-selected="false"><span>Grupos de plano de contas</span></button>
        </li>
        <!-- Subgrupos de plano de contas -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="subgrupos-plano-de-contas-tab" data-bs-toggle="tab" data-bs-target="#subgrupos-plano-de-contas"
            type="button" role="tab" aria-controls="subgrupos-plano-de-contas" aria-selected="false"><span>Subgrupos de plano de
              contas</span></button>
        </li>
        <!-- Plano de contas -->
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="plano-de-contas-tab" data-bs-toggle="tab" data-bs-target="#plano-de-contas" type="button" role="tab"
            aria-controls="plano-de-contas" aria-selected="false"><span>Plano de contas</span></button>
        </li>
        <!-- Menu Mais -->
        <li class="nav-item dropdown ms-4" role="presentation">
          <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <span>Mais<i class="bi bi-chevron-down ms-2"></i></span>
          </button>
          <ul class="dropdown-menu">
            <!-- Situação -->
            <li><button class="dropdown-item " id="perfil-aprovacao-tab" data-bs-toggle="tab" data-bs-target="#perfil-aprovacao"
                type="button" role="tab" aria-controls="perfil-aprovacao" aria-selected="false">
                Perfil de aprovação</button>
            </li>
            <!-- Desligamentos -->
            <li><button class="dropdown-item " id="motivos-desconto-tab" data-bs-toggle="tab"
                data-bs-target="#motivos-desconto" type="button" role="tab" aria-controls="motivos-desconto"
                aria-selected="false">
                Motivos para desconto/acréscimo</button>
            </li>
            <!-- Folhas -->
            <li><button class="dropdown-item " id="servicos-notas-fiscais-tab" data-bs-toggle="tab" data-bs-target="#servicos-notas-fiscais"
                type="button" role="tab" aria-controls="servicos-notas-fiscais" aria-selected="false">
                Serviços para notas fiscais</button>
            </li>
          </ul>
        </li>
      </ul>
      <div class="content-section mx-5">
        <!-- conteudo das abas -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="centros-custos" role="tabpanel" aria-labelledby="centros-custos-tab">
            <app-centros-custos></app-centros-custos>
          </div>
          <div class="tab-pane fade show" id="locais-cobranca" role="tabpanel" aria-labelledby="locais-cobranca-tab">
            <app-locais-cobranca></app-locais-cobranca>
          </div>
          <div class="tab-pane fade show" id="unidades-negocios" role="tabpanel" aria-labelledby="unidades-negocios-tab">
            <app-unidades-negocios></app-unidades-negocios>
          </div>
          <div class="tab-pane fade show" id="grupos-plano-de-contas" role="tabpanel" aria-labelledby="grupos-plano-de-contas-tab">
            <app-grupos-plano-de-contas></app-grupos-plano-de-contas>
          </div>
          <div class="tab-pane fade show" id="subgrupos-plano-de-contas" role="tabpanel" aria-labelledby="subgrupos-plano-de-contas-tab">
            <app-subgrupos-plano-de-contas></app-subgrupos-plano-de-contas>
          </div>
          <div class="tab-pane fade show" id="plano-de-contas" role="tabpanel" aria-labelledby="plano-de-contas-tab">
            <app-plano-de-contas></app-plano-de-contas>
          </div>
          <div class="tab-pane fade show" id="perfil-aprovacao" role="tabpanel" aria-labelledby="perfil-aprovacao-tab">
            <app-perfil-aprovacao></app-perfil-aprovacao>
          </div>
          <div class="tab-pane fade show" id="motivos-desconto" role="tabpanel" aria-labelledby="motivos-desconto-tab">
            <app-motivos-desconto></app-motivos-desconto>
          </div>
          <div class="tab-pane fade show" id="servicos-notas-fiscais" role="tabpanel" aria-labelledby="servicos-notas-fiscais-tab">
            <app-servicos-notas-fiscais></app-servicos-notas-fiscais>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
