
    <h2 class="fw-bolder mb-0">CNAB - Importação de contas a receber</h2>
    <h5 class=" text-muted">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
      galley
      of type and scrambled
      it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
      typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
      sheets
      containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
      including
      versions of Lorem Ipsum</h5>
    <div class="mt-4">
      <form action="">
        <div class="row my-2">
          <div class="col-md-6">
            <label for="exampleInputEmail1">O Arquivo contem pagamentos da empresa: *</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Selecione uma Empresa">
          </div>
          <div class="col-md-6">
            <label for="exampleInputEmail1">Banco/Conta que foi usada para gerar os boletos: *</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Selecione um Banco">
          </div>
        </div>
        
        <div class="row my-2">
          <div class="col-md-6">
            <label for="exampleInputEmail1">Arquivo CNAB: *</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anexar Arquivo">
          </div>
        </div>
      </form>
      <div class="my-3">
        <button type="button" class="btn rounded-3 text-white btn-info px-4 me-auto">Enviar Arquivo</button>
      </div>
    </div>