<div class="d-block">
  <!-- header -->
  <app-header></app-header>
  <div class="body">
    <div class="bg">
      <div class="header ms-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" role="button" routerLink="/dashboard">Dashboard</li>
            <li class="breadcrumb-item" aria-current="page"><strong>Relatórios</strong></li>
          </ol>
        </nav>
      </div>
      <div class="title  bg ms-5 mt-3">
        <span class="h4 fw-bolder">Relatórios</span>
        <div class="subtitle d-flex">
          <p class="mt-2 text-muted" style="font-size: 13px">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled
            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including
            versions of Lorem Ipsum
          </p>
          <div class="mx-5"></div>
        </div>
      </div>
    </div>
    <div class="section border-bottom">
      <div class="title-section d-inline-flex bg border-bottom col-md-12">
        <!-- abas -->
        <ul class="nav nav-tabs bg" id="myTab" role="tablist">
          <!-- Estabelecimentos -->
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="estabelecimentos-tab" data-bs-toggle="tab"
              data-bs-target="#estabelecimentos" type="button" role="tab" aria-controls="estabelecimentos"
              aria-selected="true"><span>Estabelecimentos</span></button>
          </li>
          <!-- Clientes -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="clientes-tab" data-bs-toggle="tab" data-bs-target="#clientes" type="button"
              role="tab" aria-controls="clientes" aria-selected="false"><span>Clientes</span></button>
          </li>
          <!-- Plano de conta -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="plano-conta-tab" data-bs-toggle="tab" data-bs-target="#plano-conta"
              type="button" role="tab" aria-controls="plano-conta" aria-selected="false"><span>Plano de
                conta</span></button>
          </li>
          <!-- Centros de custo -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="centros-custo-tab" data-bs-toggle="tab" data-bs-target="#centros-custo" type="button"
              role="tab" aria-controls="centros-custo" aria-selected="false"><span>Centros de custo</span></button>
          </li>
          <!-- Lançamentos bancários -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="lancamentos-bancarios-tab" data-bs-toggle="tab" data-bs-target="#lancamentos-bancarios"
              type="button" role="tab" aria-controls="lancamentos-bancarios" aria-selected="false"><span>Lançamentos
                bancários</span></button>
          </li>
          <!-- Recolhimento de impostos -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="recolhimento-impostos-tab" data-bs-toggle="tab"
              data-bs-target="#recolhimento-impostos" type="button" role="tab"
              aria-controls="recolhimento-impostos" aria-selected="false"><span>Recolhimento de
                impostos</span></button>
          </li>
          <!-- Comissões previstas -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="comissoes-previstas-tab" data-bs-toggle="tab" data-bs-target="#comissoes-previstas"
              type="button" role="tab" aria-controls="comissoes-previstas" aria-selected="false"><span>Comissões
                previstas</span></button>
          </li>
          <!-- Menu Mais -->
          <li class="nav-item dropdown ms-4" role="presentation">
            <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
              <span>Mais<i class="bi bi-chevron-down ms-2"></i></span>
            </button>
            <ul class="dropdown-menu">
              <!-- Comissões Faturadas -->
              <li><button class="dropdown-item " id="comissoes-faturadas-tab" data-bs-toggle="tab" data-bs-target="#comissoes-faturadas"
                  type="button" role="tab" aria-controls="comissoes-faturadas" aria-selected="false">
                  Comissões Faturadas</button>
              </li>
              <!-- Fluxo de Caixa -->
              <li><button class="dropdown-item " id="fluxo-de-caixa-tab" data-bs-toggle="tab"
                  data-bs-target="#fluxo-de-caixa" type="button" role="tab" aria-controls="fluxo-de-caixa"
                  aria-selected="false">
                  Fluxo de Caixa</button>
              </li>
              <!-- Entradas/Saídas -->
              <li><button class="dropdown-item " id="entradas-saidas-tab" data-bs-toggle="tab" data-bs-target="#entradas-saidas"
                  type="button" role="tab" aria-controls="entradas-saidas" aria-selected="false">
                  Entradas/Saídas</button>
              </li>
              <!-- Boletos não pagos -->
              <li><button class="dropdown-item " id="boletos-nao-pagos-tab" data-bs-toggle="tab" data-bs-target="#boletos-nao-pagos"
                  type="button" role="tab" aria-controls="boletos-nao-pagos" aria-selected="false">
                  Boletos não pagos</button>
              </li>
              <!-- Lançamentos não pagos -->
              <li><button class="dropdown-item " id="lancamentos-nao-pagos-tab" data-bs-toggle="tab" data-bs-target="#lancamentos-nao-pagos"
                  type="button" role="tab" aria-controls="lancamentos-nao-pagos" aria-selected="false">
                  Lançamentos não pagos</button>
              </li>
              <!-- Totalização de Faturamentos -->
              <li><button class="dropdown-item " id="totalizacao-de-faturamentos-tab" data-bs-toggle="tab" data-bs-target="#totalizacao-de-faturamentos"
                  type="button" role="tab" aria-controls="totalizacao-de-faturamentos" aria-selected="false">
                  Totalização de Faturamentos</button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="content-section mx-5">

        <!-- conteudo das abas -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="estabelecimentos" role="tabpanel"
            aria-labelledby="estabelecimentos-tab">
            <app-estabelecimentos></app-estabelecimentos>
          </div>
          <div class="tab-pane fade show" id="clientes" role="tabpanel"
            aria-labelledby="clientes-tab">
            <app-clientes></app-clientes>
          </div>
          <div class="tab-pane fade show" id="plano-conta" role="tabpanel"
            aria-labelledby="plano-conta-tab">
            <app-plano-conta></app-plano-conta>
          </div>
          <div class="tab-pane fade show" id="centros-custo" role="tabpanel"
            aria-labelledby="centros-custo-tab">
            <app-centros-custo></app-centros-custo>
          </div>
          <div class="tab-pane fade show" id="lancamentos-bancarios" role="tabpanel"
            aria-labelledby="lancamentos-bancarios-tab">
            <app-relatorios-lancamentos-bancarios></app-relatorios-lancamentos-bancarios>
          </div>
          <div class="tab-pane fade show" id="recolhimento-impostos" role="tabpanel"
            aria-labelledby="recolhimento-impostos-tab">
            <app-recolhimento-impostos></app-recolhimento-impostos>
          </div>
          <div class="tab-pane fade show" id="comissoes-previstas" role="tabpanel"
            aria-labelledby="comissoes-previstas-tab">
            <app-comissoes-previstas></app-comissoes-previstas>
          </div>
          <div class="tab-pane fade show" id="comissoes-faturadas" role="tabpanel"
            aria-labelledby="comissoes-faturadas-tab">
            <app-comissoes-faturadas></app-comissoes-faturadas>
          </div>
          <div class="tab-pane fade show" id="fluxo-de-caixa" role="tabpanel"
            aria-labelledby="fluxo-de-caixa-tab">
            <app-fluxo-de-caixa></app-fluxo-de-caixa>
          </div>
          <div class="tab-pane fade show" id="entradas-saidas" role="tabpanel"
            aria-labelledby="entradas-saidas-tab">
            <app-entradas-saidas></app-entradas-saidas>
          </div>
          <div class="tab-pane fade show" id="boletos-nao-pagos" role="tabpanel"
            aria-labelledby="boletos-nao-pagos-tab">
            <app-boletos-nao-pagos></app-boletos-nao-pagos>
          </div>
          <div class="tab-pane fade show" id="lancamentos-nao-pagos" role="tabpanel"
            aria-labelledby="lancamentos-nao-pagos-tab">
            <app-lancamentos-nao-pagos></app-lancamentos-nao-pagos>
          </div>
          <div class="tab-pane fade show" id="totalizacao-de-faturamentos" role="tabpanel"
            aria-labelledby="totalizacao-de-faturamentos-tab">
            <app-totalizacao-de-faturamentos></app-totalizacao-de-faturamentos>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
