<div class="d-block">
  <!-- header -->
  <app-header></app-header>
  <div class="body">
    <div class="bg">
      <div class="header ms-5">
        <!-- caminho da página -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" role="button" routerLink="/dashboard">Dashboard</li>
            <li class="breadcrumb-item" aria-current="page"><strong>Orçamentos GMP</strong></li>
          </ol>
        </nav>
      </div>
      <div class="title  bg ms-5 mt-3">
        <!-- titulo e subtitulo -->
        <span class="h4 fw-bolder">Orçamentos GMP</span>
        <div class="subtitle d-flex">
          <p class="mt-2 text-muted" style="font-size: 13px">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled
            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including
            versions of Lorem Ipsum
          </p>
          <div class="mx-5"></div>
        </div>
      </div>
    </div>
    <div class="section border-bottom">
      <div class="title-section d-inline-flex bg border-bottom col-md-12">
        <!-- abas -->
        <ul class="nav nav-tabs bg" id="myTab" role="tablist">
          <!-- Projetos -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="orcamento-tab" data-bs-toggle="tab" data-bs-target="#orcamento"
              type="button" role="tab" aria-controls="orcamento" aria-selected="true"><span>Projetos</span></button>
          </li>
          <!-- Cargos -->
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="cargos-tab" data-bs-toggle="tab" data-bs-target="#cargos"
              type="button" role="tab" aria-controls="cargos" aria-selected="false"><span>Cargos</span></button>
          </li>
          <!-- Margens de Lucro -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="faturamento-tab" data-bs-toggle="tab" data-bs-target="#faturamento"
              type="button" role="tab" aria-controls="faturamento" aria-selected="false"><span>Margens de
                Lucro</span></button>
          </li>
          <!-- Grupos de referencia de preços -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="boletos-tab" data-bs-toggle="tab" data-bs-target="#boletos" type="button"
              role="tab" aria-controls="boletos" aria-selected="false"><span>Grupos de referencia de
                preços</span></button>
          </li>
          <!-- Tipos de referencia de preços -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="boleto-avulso-tab" data-bs-toggle="tab" data-bs-target="#boleto-avulso"
              type="button" role="tab" aria-controls="boleto-avulso" aria-selected="false"><span>Tipos de referencia de
                preços</span></button>
          </li>
          <!-- Grupos de encargos sociais -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="notas-fiscais-canceladas-tab" data-bs-toggle="tab"
              data-bs-target="#notas-fiscais-canceladas" type="button" role="tab"
              aria-controls="notas-fiscais-canceladas" aria-selected="false"><span>Grupos de encargos
                sociais</span></button>
          </li>
          <!-- Tipos de encargos sociais -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contas-a-receber-tab" data-bs-toggle="tab" data-bs-target="#contas-a-receber"
              type="button" role="tab" aria-controls="contas-a-receber" aria-selected="false"><span>Tipos de encargos
                sociais</span></button>
          </li>
          <!-- Mais -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contas-a-pagar-tab" data-bs-toggle="tab" data-bs-target="#contas-a-pagar"
              type="button" role="tab" aria-controls="contas-a-pagar" aria-selected="false"><span>Mais<i
                  class="bi bi-chevron-down mx-2"></i></span></button>
          </li>
        </ul>
      </div>
      <div class="content-section mx-5">
        <!-- conteudo das abas -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="cargos" role="tabpanel" aria-labelledby="cargos-tab">
            <app-cargos></app-cargos>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
