<div class="d-block">
  <!-- header -->
  <app-header></app-header>
  <!-- conteudo da pafina -->
  <div class="body">
    <div class="bg">
      <div class="header ms-5">
        <!-- caminho da pagina -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" role="button" routerLink="/dashboard">Dashboard</li>
            <li class="breadcrumb-item" aria-current="page"><strong>Comissão</strong></li>
          </ol>
        </nav>
      </div>
      <div class="title  bg ms-5 mt-3">
        <!-- titulo e subtitulo -->
        <span class="h4 fw-bolder">Comissão</span>
        <div class="subtitle d-flex">
          <p class="mt-2 text-muted" style="font-size: 13px">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley
            of type and scrambled
            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including
            versions of Lorem Ipsum
          </p>
          <div class="mx-5"></div>
        </div>
      </div>
    </div>
    <div class="section border-bottom">
      <div class="title-section d-inline-flex bg col-md-12">
        <!-- abas -->
        <ul class="nav nav-tabs bg" id="myTab" role="tablist">
          <!-- Parametrização de Comissões -->
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="parametrizacao-tab" data-bs-toggle="tab" data-bs-target="#parametrizacao" type="button"
              role="tab" aria-controls="parametrizacao" aria-selected="true"><span>Parametrização de Comissões</span></button>
          </li>
          <!-- Configuração de Comissão de Clientes -->
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="configuracao-comissao-tab" data-bs-toggle="tab" data-bs-target="#configuracao-comissao" type="button"
              role="tab" aria-controls="configuracao-comissao" aria-selected="false"><span>Configuração de Comissão de Clientes</span></button>
          </li>
        </ul>
      </div>
      <div class="content-section mx-5">

        <!-- conteudo das abas -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="parametrizacao" role="tabpanel"
            aria-labelledby="parametrizacao-tab">
            <app-parametrizacao></app-parametrizacao>
          </div>
          <div class="tab-pane fade show active" id="configuracao-comissao" role="tabpanel"
            aria-labelledby="configuracao-comissao-tab">
            <app-configuracao-comissao></app-configuracao-comissao>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
