
  <h2 class="fw-bolder mb-0">Lançamento bancário</h2>
  <h5 class=" text-muted">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
    galley
    of type and scrambled
    it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
    sheets
    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
    including
    versions of Lorem Ipsum</h5>
  <div class="mt-4">
    <form action="">
      <div class="row my-2">
        <div class="col-md-12 align-self-end">
          <select class="form-select" aria-label="Default select example">
            <option selected>Banco</option>
            <option value="1">selecione</option>
            <option value="2">selecione</option>
            <option value="3">selecione</option>
          </select>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-12 align-self-end">
          <select class="form-select" aria-label="Default select example">
            <option selected>Empresa</option>
            <option value="1">selecione</option>
            <option value="2">selecione</option>
            <option value="3">selecione</option>
          </select>
        </div>
      </div>
      <div class="row my-2">

        <div class="col-md-6 align-self-end">
          <select class="form-select" aria-label="Default select example">
            <option selected>Fornecedor</option>
            <option value="1">selecione</option>
            <option value="2">selecione</option>
            <option value="3">selecione</option>
          </select>
        </div>
        <div class="col-md-6 align-self-end">
          <select class="form-select" aria-label="Default select example">
            <option selected>Cliente</option>
            <option value="1">selecione</option>
            <option value="2">selecione</option>
            <option value="3">selecione</option>
          </select>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Data do Lançamento"></div>
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Data do Vencimento"></div>
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Data do Recolhimento de Impostos">
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Número do Documento"></div>
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Nosso numero"></div>
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Lançamento nº"></div>
      </div>
      <div class="row my-2">
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Tipo de movimento"></div>
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Tipo de despesa/receita"></div>
        <div class="col-md-4"><input class="form-control" type="text" placeholder="Débito/crédito"></div>
      </div>
    </form>
    <div class="my-3 d-flex justify-content-start">
      <button type="button" class="btn rounded-3 text-white btn-info px-4 me-3">Pesquisar Lançamentos</button>
      <div class="d-flex align-self-center">
        <span class="mx-2 fs-5">Saldo Geral: <span style="color:#04d200; font-weight: 600;">R$ 2500,00/d</span></span>
        <span class="mx-2 fs-5">Saldo Até Hoje: <span style="color:#04d200; font-weight: 600;">R$
            2500,00/d</span></span>
      </div>
    </div>
  </div>